ol {
  list-style: none;
}

.contact-details {
  display: none;
}

#contactName {
  cursor: pointer;
}

#contactName:hover {
  color: yellow;
}
 #contactName{
   display: none;
 }
.body{

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.form-group label{
  font-size: 30px;
  font-weight: bold;
}
 

 